 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
// Custom Styles
body {
  background: #fafafa;
  font-family: "Signika", Helvetica, Arial, sans-serif;
  color: #333;
}

.container {
  margin: 10px auto 0 auto;
  width: 600px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  border-radius: 6px;
  padding: 0 60px 60px;
  h1 {
    font-size: 40px;
    padding: 33% 0 0 33%;

  }

  ul {
    margin: 0;
    padding:0;
  }

  li {
    position:relative;
    padding: 1px 22px;
    color:white;
    background: HSLA(346, 82%, 63%, 1);
    border-radius:25px;
    clear: both;
    list-style: none;
    margin-bottom: 25px;
    position: relative;
    cursor: pointer;
    &.done {
      background: grey;
    }

  }


}

form {
  margin-bottom: 25px;
  width: 100%;
  input{
    width: 85%;
    height: 40px;
    border-radius: 20px;
    outline-style: none;
  }
  button{
    background-color: HSLA(224, 79%, 75%, 1);
    color: white;
    border-radius: 50%;
    height: 62px;
    outline-style: none;
  }
<<<<<<< HEAD
=======
}

.remove{
  background: HSLA(346, 82%, 63%, 1);
  border: none;
  outline-style: none;
  float: right;
  height: 30px;
>>>>>>> Dev
}
