 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
// Custom Styles
body {
  background: #fafafa;
  font-family: "Signika", Helvetica, Arial, sans-serif;
  color: #333;
}

.container {
  margin: 10px auto 0 auto;
  width: 600px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  border-radius: 6px;
  padding: 0 60px 60px;
  background-color: HSLA(180, 38%, 62%, 1);
  h1 {
    font-size: 40px;
    padding-top: 20px;
  text-align: center;
  }
  //check mark in the title
  .check{
    height:50px;
    width:45px;
    vertical-align: bottom;
  }
  //contains the notes
  ul {
    margin: 0;
    padding:0;
  }
  //individual notes
  li {
    position:relative;
    padding: 1px 22px;
    color:white;
    background: HSLA(346, 82%, 63%, 1);
    border-radius:25px;
    clear: both;
    list-style: none;
    margin-bottom: 25px;
    position: relative;
    cursor: pointer;
    &.done {
      background: HSLA(0, 0%, 75%, 1);
    }
  }
}

/* a {
  color: #900;
  text-decoration: none;
}

a:hover {
  color: red;
//  position: relative;
}

a[title]:hover:after {
  content: attr(title);
  text-align: center;
  color: white;
  background-color:black;
  padding: 5px 20px 5px 20px;


} */
//initial submit button and input field
form {
  margin-bottom: 25px;
  width: 100%;
  input{
    width: 85%;
    height: 40px;
    border-radius: 20px;
    outline-style: none;
    text-indent: 15px;
  }
  button{
    background-color: HSLA(224, 79%, 75%, 1);
    color: white;
    border-radius: 50%;
    height: 62px;
    outline-style: none;
  }

}
//this is the remove X button
.remove{
 background: transparent;
 border: none;
 outline-style: none;
 float: right;
 height: 30px;

&:hover{
  background-color: transparent;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
 }
}
//this this the counter bar
.completed_tasks{
  background-color: HSLA(58, 64%, 71%, 1);
  color:black;
  text-align: center;
  border-radius:25px;
  clear: both;
}
